
<%= form_with url: operations_path do |form| %>
    <div class = 'd-flex justify-content-center vertical-center'>
        <div class="row g-3">
            <div class="col-auto">
                <%= form.text_field :amount, class: 'form-control-lg', placeholder: 'Enter the amount' %>
            </div>

            <%= form.hidden_field :option, value: @option %>
            <%= form.hidden_field :account_id, value: @account_id %>
            <%= form.hidden_field :user_account, value: @user_account_id %>

            <div class="col-auto">
                <%= form.submit "Proceed", class: 'btn-lg btn-success' %>
            </div>
        </div>
    </div>
<% end %>
